In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import platform
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')

%matplotlib inline

In [9]:
traffic2001 = pd.read_excel('data/2020/2020_01.xlsx')

In [11]:
traffic2001.head(1)

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20200101,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1472.0,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0

In [14]:
traffic2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8370 entries, 0 to 8369
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8370 non-null   int64
 1   요일      8370 non-null   object
 2   지점명     8370 non-null   object
 3   지점번호    8370 non-null   object
 4   방향      8370 non-null   object
 5   구분      8370 non-null   object
 6   0시      7984 non-null   float64
 7   1시      7983 non-null   float64
 8   2시      7981 non-null   float64
 9   3시      7982 non-null   float64
 10  4시      7984 non-null   float64
 11  5시      7988 non-null   float64
 12  6시      7994 non-null   float64
 13  7시      7991 non-null   float64
 14  8시      7991 non-null   float64
 15  9시      7991 non-null   float64
 16  10시     7988 non-null   float64
 17  11시     7986 non-null   float64
 18  12시     7986 non-null   float64
 19  13시     7981 non-null   float64
 20  14시     7986 non-null   float64
 21  15시     7990 non-null   float64
 22  16시     7997 non-null   float64
 23  17시     7994 non-null   float64
 24  18시     7992 non-null   float64
 25  19시     7995 non-null   float64
 26  20시     7997 non-null   float64
 27  21시     7997 non-null   float64
 28  22시     7983 non-null   float64
 29  23시     7981 non-null   float64
dtypes: float64(24), int64(1), object(5)
memory usage: 1.9+ MB

In [36]:
traffic2001['총교통량'] = traffic2001['0시']+traffic2001['1시']+traffic2001['2시']+traffic2001['3시']+traffic2001['4시']+traffic2001['5시']+traffic2001['6시']+traffic2001['7시']+traffic2001['8시']+traffic2001['9시']+traffic2001['10시']+traffic2001['11시']+traffic2001['12시']+traffic2001['13시']+traffic2001['14시']+traffic2001['15시']+traffic2001['16시']+traffic2001['17시']+traffic2001['18시']+traffic2001['19시']+traffic2001['20시']+traffic2001['21시']+traffic2001['22시']+traffic2001['23시']
traffic2001['일자'] = pd.to_datetime(traffic2001['일자'], format='%Y%m%d')
traffic2001.head(2)

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,총교통량
0,2020-01-01,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0,21513.0
1,2020-01-02,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,...,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,33156.0

In [37]:
t20_01 = traffic2001[['일자', '요일', '지점명', '방향', '총교통량']]
t20_01

             일자 요일        지점명  방향     총교통량
0    2020-01-01  수  성산로(금화터널)  유입  21513.0
1    2020-01-02  목  성산로(금화터널)  유입  33156.0
2    2020-01-03  금  성산로(금화터널)  유입  35143.0
3    2020-01-04  토  성산로(금화터널)  유입  28899.0
4    2020-01-05  일  성산로(금화터널)  유입  24003.0
...         ... ..        ...  ..      ...
8365 2020-01-27  월     서부간선도로  유출  54799.0
8366 2020-01-28  화     서부간선도로  유출  58854.0
8367 2020-01-29  수     서부간선도로  유출  59442.0
8368 2020-01-30  목     서부간선도로  유출  60191.0
8369 2020-01-31  금     서부간선도로  유출  59893.0

[8370 rows x 5 columns]

In [40]:
t2001_inout = t20_01.groupby(['일자', '요일'])['총교통량'].sum()
t2001_inout

일자          요일
2020-01-01  수      7315694.0
2020-01-02  목      9251365.0
2020-01-03  금      9998638.0
2020-01-04  토      9128684.0
2020-01-05  일      7868358.0
2020-01-06  월      9276153.0
2020-01-07  화      9091902.0
2020-01-08  수      9535223.0
2020-01-09  목      9920145.0
2020-01-10  금     10124589.0
2020-01-11  토      9350911.0
2020-01-12  일      8007541.0
2020-01-13  월      9663241.0
2020-01-14  화      9611072.0
2020-01-15  수      9754453.0
2020-01-16  목      9877128.0
2020-01-17  금     10087521.0
2020-01-18  토      9530409.0
2020-01-19  일      7961256.0
2020-01-20  월      9819762.0
2020-01-21  화     10107424.0
2020-01-22  수     10269455.0
2020-01-23  목     10044474.0
2020-01-24  금      7747673.0
2020-01-25  토      8466401.0
2020-01-26  일      7355056.0
2020-01-27  월      6925214.0
2020-01-28  화      9113726.0
2020-01-29  수      9811151.0
2020-01-30  목      9930335.0
2020-01-31  금     10107177.0
Name: 총교통량, dtype: float64

In [41]:
df_2001 = pd.DataFrame(t2001_inout)
df_2001

                     총교통량
일자         요일
2020-01-01 수    7315694.0
2020-01-02 목    9251365.0
2020-01-03 금    9998638.0
2020-01-04 토    9128684.0
2020-01-05 일    7868358.0
2020-01-06 월    9276153.0
2020-01-07 화    9091902.0
2020-01-08 수    9535223.0
2020-01-09 목    9920145.0
2020-01-10 금   10124589.0
2020-01-11 토    9350911.0
2020-01-12 일    8007541.0
2020-01-13 월    9663241.0
2020-01-14 화    9611072.0
2020-01-15 수    9754453.0
2020-01-16 목    9877128.0
2020-01-17 금   10087521.0
2020-01-18 토    9530409.0
2020-01-19 일    7961256.0
2020-01-20 월    9819762.0
2020-01-21 화   10107424.0
2020-01-22 수   10269455.0
2020-01-23 목   10044474.0
2020-01-24 금    7747673.0
2020-01-25 토    8466401.0
2020-01-26 일    7355056.0
2020-01-27 월    6925214.0
2020-01-28 화    9113726.0
2020-01-29 수    9811151.0
2020-01-30 목    9930335.0
2020-01-31 금   10107177.0

In [42]:
df_2001.to_csv('data/traffic_202001.csv')